.body{
  width:100%;
  padding: 0px;
  margin: 0px;
box-sizing: border-box;
}
.navbar {
  width: 100%;
  position: sticky;
  top:0;
  display:flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  z-index: 1;
  border-bottom: 2px solid white;
}

.navbar ul li a {
  color: black;
  transition:color 0.3s;

}

.navbar li a:hover{
  background-color: white;
  color:  #419ab5;
}
.d-block img{
height: 730px;
width:100%;

}
.carousel-caption{
  color: green;
  margin: 90px;
  text-align: center;
  align-items: center;
  font-size: 40px;
}
.carousel-caption h1{
  color:purple;
  font-weight: 600;

}
.pg {
  background-color: #419ab5;
}

.form-group{
  width: 280px;
  position: absolute;
  top: 30%;
  left:40%;
  transform: translate(-50% -50%);
  color: white;
}
.main h2{
	text-transform: uppercase;
	text-align: center;
	font-style: normal;
	font-family: sans-serif;
	font-size: 28px;
	color: green;
  margin: 30px;
  font-weight: bold;
}
.carousel-inner,.carousel-item img{
height: 730px;
width:100%;

}
.about p{
	font-style: normal;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
  margin: 20px;
  margin-top: 20px;
}

.container{
	width: 100%;
	margin-top: 40px;
	font-family:sans-serif, sans-serif;
	letter-spacing: 1px;
}

.stat {
align-items: center;
text-align: center;
background-color: green;
height: 300px;
padding-left: 320px;
padding-top: 60px;
padding-bottom:0px;
color: white;
background-attachment: fixed;
margin-top: 100px;
}
.stat p{
  font-size: 30px;
}
.stat i{
  font-size: 40px;
  color: white;
}


h4 {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	color: black;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
h4::after {
	display: block;
	content: "";
	height: 2px;
	width: 125px;
	background: green;
	margin: 5px auto 25px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}
.col-md-3 {
	float: left;
	width: 25%;
	padding: 10px;
	height: 300px;
}
.col-md-3 h5{
	text-transform: uppercase;
	text-align: center;
	font-style: normal;
	font-family: Times New Roman;
	font-size: 20px;
}
.col-md-3 p{
	text-align: center;
	font-style: normal;
	font-family: Times New Roman;
	font-size: small;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.container h4{
	text-transform: uppercase;
	text-align: center;
	font-style: normal;
	font-family: Times New Roman;
	font-size: 35px;
}
.font-weight-light{
  font-size: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	color: black;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
.font-weight-light::after{
  /* This is the underline */
	display: block;
	content: "";
	height: 2px;
	width: 125px;
	background: green;
	margin: 5px auto 25px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}
.footer ul {
	list-style: none;
	text-align: center;
}
.footer ul li{
	display: inline-block;
	padding: 0 50px 0 50px;
}
.tm-col-footer ul {
	list-style: none;
}

.tm-site-footer{
  list-style: none;
  background-color: green;
  height: 150px;
  margin-top: 20px;
  text-decoration: none;
color:white;
text-transform: uppercase;
}
.social ul li a{
  color: purple;
}
.form-inline{
  color: black;
}

.carousel-inner,.carousel-item img{
height: 730px;
width:100%;

}

.carousel-caption{
  color: green;
  margin: 90px;
  text-align: center;
  align-items: center;
  font-size: 40px;
}

.carousel-caption h1{
  color:purple;
  font-weight: 600;

}
  
  .pg {
	background-color: #419ab5;
  }
  
  .form-group{
	width: 280px;
	position: absolute;
	top: 30%;
	left:40%;
	transform: translate(-50% -50%);
	color: white;
  }
  .main h2{
	  text-transform: uppercase;
	  text-align: center;
	  font-style: normal;
	  font-family: sans-serif;
	  font-size: medium;
	  color: mediumblue;
  }

  .about p{
	  font-style: normal;
	  text-align: center;
	  font-size: 35px;
	  font-weight: bold;
  }
  .container{
	  width: 100%;
	  margin-top: 10%;
	  font-family:sans-serif, sans-serif;
	  letter-spacing: 1px;
  }
  
 .stat {
align-items: center;
text-align: center;
background-color: green;
height: 300px;
padding-left: 320px;
padding-top: 60px;
padding-bottom:0px;
color: white;
background-attachment: fixed;
margin-top: 100px;
}

.stat p{
  font-size: 30px;
}
.stat i{
  font-size: 40px;
  color: white;
}


h4 {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	color: black;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
h4::after {
	display: block;
	content: "";
	height: 2px;
	width: 125px;backup
	background: green;
	margin: 5px auto 25px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}
.col-md-3 {
	float: left;
	width: 25%;
	padding: 10px;
	height: 300px;
}
.col-md-3 h5{
	text-transform: uppercase;
	text-align: center;
	font-style: normal;
	font-family: Times New Roman;
	font-size: 20px;
}
.col-md-3 p{
	text-align: center;
	font-style: normal;
	font-family: Times New Roman;
	font-size: small;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.container h4{
	text-transform: uppercase;
	text-align: center;
	font-style: normal;
	font-family: Times New Roman;
	font-size: 35px;
}
.font-weight-light{
  font-size: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	color: black;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
.font-weight-light::after{
  /* This is the underline */
	display: block;
	content: "";
	height: 2px;
	width: 125px;
	background: green;
	margin: 5px auto 25px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}
.footer ul {
	list-style: none;
	text-align: center;
}
.footer ul li{
	display: inline-block;
	padding: 0 50px 0 50px;
}
.tm-col-footer ul {
	list-style: none;
}

.tm-site-footer{
  list-style: none;
  background-color: green;
  height: 150px;
  margin-top: 20px;
  text-decoration: none;
color:white;
text-transform: uppercase;
}
.social ul li a{
  color: purple;
}
.form-inline{
  color: black;
} 
  /*cart*/
  .shopping-container {
	  box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
background-color: #147CA9;
	padding: 40px;
}
.shopping-cart {
width: 750px;
height: 423px;
margin: 80px auto;
background: white; 
box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
border-radius: 6px;
display: flex;
flex-direction: column;
}
.title {
height: 60px;
border-bottom: 1px solid #E1E8EE;
padding: 20px 30px;
color: #5E6977;
font-size: 18px;
font-weight: 400;
}

.item {
padding: 20px 30px;
height: 120px;
display: flex;
}
.item img{
	height: 80px;
	width:	80px;
}
.item:nth-child(3) {
border-top:  1px solid #E1E8EE;
border-bottom:  1px solid #E1E8EE;
}

.buttons {
position: relative;
padding-top: 30px;
margin-right: 60px;
}

.delete-btn,
.like-btn {
display: inline-block;
Cursor: pointer;
} 
.delete-btn {
width: 18px;
height: 17px;
background: url(&quot;delete-icn.svg&quot;) no-repeat center;
}

.like-btn {
position: absolute;
top: 9px;
left: 15px;
background: url('twitter-heart.png');
width: 60px;
height: 60px;
background-size: 2900%;
background-repeat: no-repeat;backup
}
.is-active {
animation-name: animate;
animation-duration: .8s;
animation-iteration-count: 1;
animation-timing-function: steps(28);
animation-fill-mode: forwards;
}

@keyframes animate {
0%   { background-position: left;  }
50%  { background-position: right; }
100% { background-position: right; }<<<<<<< revert-5-revert-4-ft-alisha/maishakenya
}
.image {
margin-right: 50px;
}

Let’s add some basic style to  product name and description.
.description {
padding-top: 10px;
margin-right: 60px;
width: 115px;	
}

.description span {
display: block;
font-size: 14px;
color: #43484D;
font-weight: 400;
}

.description span:first-child {
margin-bottom: 5px;
}

.description span:last-child {
font-weight: 300;
margin-top: 8px;
color: #86939E;
}

.quantity {
padding-top: 20px;
margin-right: 60px;
}

.quantity input {
-webkit-appearance: none;
border: none;
text-align: center;
width: 32px;
font-size: 16px;
color: #43484D;
font-weight: 300;
}

button[class*=btn] {
width: 30px;
height: 30px;
background-color: #E1E8EE;
border-radius: 6px;
border: none;
cursor: pointer;
}
.minus-btn img {
margin-bottom: 3px;
}
.plus-btn img {
margin-top: 2px;
}

button:focus,
input:focus {
outline:0;
}
.quantity {
padding-top: 20px;
margin-right: 60px;
}
.quantity input {
-webkit-appearance: none;
border: none;
text-align: center;
width: 32px;
font-size: 16px;
color: #43484D;
font-weight: 300;
}

button[class*=btn] {
width: 30px;
height: 30px;
background-color: #E1E8EE;
border-radius: 6px;
border: none;
cursor: pointer;
}
.minus-btn img {
margin-bottom: 3px;
}
.plus-btn img {
margin-top: 2px;
}

button:focus,
input:focus {
outline:0;
}
@media (max-width: 800px) {
.shopping-cart {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.item {
	height: auto;
	flex-wrap: wrap;
	justify-content: center;
}
.image img {
	width: 50%;
}
.image,
.quantity,
.description {
	width: 100%;
	text-align: center;
	margin: 6px 0;
}
.buttons {
	margin-right: 20px;
}
/*cart*/
.shop-item-price {
    flex-grow: 1;
    color: #333;
}
.content-section{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1.5em;
}
.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.cart-row {
    display: flex;
}
.cart-item {
    width: 45%;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;	
    margin-top: 10px;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}
.cart-quantity {
    width: 35%;
}
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}
.cart-total-price {
    color: #333;
    font-size: 1.1em;
}
.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
		background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.cart-row:last-child .cart-column {
    border: none;
}
.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
		.cart-item-image {
		    width: 75px;
		    height: auto;
		    border-radius: 10px;
}
h4 {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	color: black;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
h4::after {
	display: block;
	content: "";
	height: 2px;
	width: 125px;
	background: green;
	margin: 5px auto 25px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}
  /* This is the underline 	*/
.font-weight-light::after{
	display: block;
	content: "";
	height: 2px;
	width: 125px;
	background: green;
	margin: 5px auto 25px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}
